# Firebase
google-services.json

# APK and build files
*.apk
*.aab
release/
build/
baselineProfiles/

# Android build
/build/
/app/build/
.cxx/
.gradle/
local.properties

# Android Studio
*.iml
.idea/
.DS_Store
captures/
.externalNativeBuild

# OS files
.DS_Store
Thumbs.db
service_account.json